<form
        method="post"
        action="{{ route }}"
        onsubmit="return confirm('{{ question }}');"
        style="display: inline-block;"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <button type="submit" class="btn btn-outline-primary">{{ button_label|raw }}</button>
</form>
