@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

form.dropzone {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  //&.avatar {
  //  @include media-breakpoint-up(sm) {
  //    float: right;
  //    width: 40%;
  //  }
  //}
}