@import './scss/_variables';

/* stylelint-disable */
@import "~bootstrap";
/* stylelint-enable */

@import './scss/components/_required_inputs';

@import './scss/layout/_header';
@import './scss/layout/_main';
@import './scss/layout/_footer';

.error {
  border: 2px solid #FF6565 !important; // the important overrides the border of Bootstrap's form-control
}

.error-message {
  color: #FF6565;
  padding: .35em .2em;
  //height: 1em;
  font-size: .8em;
}
